.design-gallery {
    padding: 20px;
    text-align: center;
    background-color: black;
}

.design-gallery h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #9c0c13;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-item {
    margin: 10px;
    text-align: center;
}

.gallery-item img {
    width: 50%px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item p {
    margin-top: 10px;
    color: #ffffff;
    width: 55%;
    height: 200px;
    margin-left: 25%;
}
