/* Home container */
.home {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
span{
    color: black;
}
footer{
    position: static;
    margin: 0px;
    
}
/* Header styling */
.header {
    background-color: #0073e6;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/dxgwjkiwh/image/upload/v1723544846/wood-sideboard-red-living-room-with-copy-space_yl7txr.jpg');
    color: white;
    text-align: center;
    padding: 20px;
    position:relative;
    width: 97.3%;
    height: 100vh;
}

/* Main content container */
.main-content {
    display: flex;
    flex: 1;
    overflow: none;
    padding: 0px;
    color: #ffffff;
}

/* Left panel */
.left-panel {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}

.left-panel img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Center panel */
.center-panel {
    flex: 2;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 0px;
    height: fit-content;
    
}

.blogs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #000000;
}

.blog {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    margin-bottom: 30.55px;
}

.blog h2 {
    margin-top: 0;
}

/* Right panel */
.right-panel {
    flex: 1;
    background-color: #000000;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 22px;

}

.search input,
.consultation-form input,
.consultation-form textarea {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.consultation-form button {
    padding: 10px;
    background-color: #dd8c40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.consultation-form button:hover {
    background-color: #dab18b;
}

/* Footer styling */
.footer {
    background-color:#9c0c13;
    color: white;
    text-align: center;
    padding: 10px;
}